In [1]:
import time
import requests
import zipfile
import math
import io
import os
import json
import pyproj
import pandas as pd
import DBconnection
from datetime import datetime
from google.transit import gtfs_realtime_pb2
from protobuf_to_dict import protobuf_to_dict
import geopy.distance
from sqlalchemy import create_engine
cursor, conn = DBconnection.get_connection()
db = create_engine('postgresql+psycopg2://postgres:vasilis@localhost/Metro_Transit')
conn_alchemy = db.connect()

In [2]:
def positions(vehiclepositions):
    print('pos')
    vehiclepositions['feed_version']=FeedVersion
    vehiclepositions['feed_id']=feed_id
    
    vehiclepositions=vehiclepositions.rename(columns={'vehicle.trip.direction_id':'vehicle_trip_direction_id'})
    #########################check if new real time data  exists in static data#####################################
    
    #############get trip_id#################
    cursor.execute("""select distinct trips.trip_id from trips
                        where trips.feed_version=%s""",
                   (FeedVersion,))

    trip_ids = cursor.fetchall() 
    
    trip_ids_lst=[]
    for trip_id in trip_ids:
            trip_ids_lst.append(trip_id[0])      
    ###############################     
    
    ##############get vehicle_id################
    cursor.execute("""select distinct vehicles.vehicle_id from vehicles
                        where vehicles.feed_version=%s""",
                   (FeedVersion,))

    vehicle_ids = cursor.fetchall()     
    
    vehicle_ids_lst=[]
    for vehicle_id in vehicle_ids:
            vehicle_ids_lst.append(str(vehicle_id[0]))  
    ###############################
    
    ####data cleaning##
    for index,rows in vehiclepositions.iterrows():
             ####check if trip_id exists in static#####
            if (rows['vehicle_trip_trip_id'] not in trip_ids_lst):
                vehiclepositions.drop(index, axis=0)
                
             ####check if vehicle_id exists in static#####
            if (rows['vid'] not in vehicle_ids_lst):
                vehiclepositions.drop(index, axis=0)
    print('data cleaning')               
    ###################################################################################################
    
    
    ##########################check if new real time data position is next to trip shape_id############
    dist_found=0

    for index,rows in vehiclepositions.iterrows():
        cursor.execute("""select distinct shapes.shape_pt_lat, shapes.shape_pt_lon from trips
                            inner join shapes
                            on trips.shape_id = shapes.shape_id
                            where trips.trip_id=%s
                            and trips.feed_version=%s
                            """,
                       (rows['vehicle_trip_trip_id'],FeedVersion,))
        shape_pt = cursor.fetchall()
        dist_found=0
        for shape_pt_rows in shape_pt:
            shape_coor=(shape_pt_rows[0],shape_pt_rows[1])
            vehicle_coor=(rows['lat'],rows['lon'])
            dist=geopy.distance.geodesic(shape_coor, vehicle_coor).m
            
            if dist <12:
                dist_found=1
                break    
        if dist_found==0:
            vehiclepositions.drop(index, axis=0)
    print('data cleaning2')  
    ##################################################################################################

    '''
    #############check if new vehicle position follow with previouse#####################################
    for index,rows in vehiclepositions.iterrows():
        ###find previous vehicle position########
        cursor.execute("""select vehicle_positions.lat, vehicle_positions.lon,vehicle_positions.vehicle_trip_trip_id from vehicle_positions
                            where vehicle_positions.feed_version=%s
                            and vehicle_positions.vehicle_trip_trip_id=%s
                            order by vehicle_positions.feed_id desc
                            limit 1 """,
                       (FeedVersion,rows['vehicle_trip_trip_id'],)) 
        prev_veh_position = cursor.fetchall()
        
        if len(prev_veh_position) >0:
        
            for prev_veh_position_data in prev_veh_position:
                prev_veh_position_lat=prev_veh_position_data[0]
                prev_veh_position_lon=prev_veh_position_data[1]
            ############################################

            ###find the shapes for the trip_id########
            cursor.execute("""select  shapes.shape_pt_lat,shapes.shape_pt_lon,shapes.shape_id,shapes.shape_pt_sequence from trips
                                inner join shapes
                                on trips.shape_id = shapes.shape_id
                                where trips.trip_id=%s
                                and trips.feed_version=%s
                                 """,
                           (rows['vehicle_trip_trip_id'],FeedVersion,)) 
            veh_trip_coor = cursor.fetchall() 
            ##########################################


            min_dist=999999999999999
            found_dist=0
            found_dist_new=0
            ######find closer shape for previous vehicle position#####
            for veh_trip_coor_rows in veh_trip_coor:
                prev_veh_coor=(prev_veh_position_lat,prev_veh_position_lon)
                trip_coor=(veh_trip_coor_rows[0],veh_trip_coor_rows[1])
                dist=geopy.distance.geodesic(prev_veh_coor, trip_coor).m 

                if dist < 80 and found_dist==0:
                    found_dist=1
                    shape_id=veh_trip_coor_rows[2]
                    shape_seq=veh_trip_coor_rows[3]
            ##########################################################

            
            #####eliminate all traverse shapes and find closer shape for new vehicle_id#####
            if found_dist==1:
                for veh_trip_coor_rows in veh_trip_coor:
                    if veh_trip_coor_rows[2]==shape_id and veh_trip_coor_rows[3]>=shape_seq:
                        new_veh_coor=(rows['lat'],rows['lon'])
                        trip_coor=(veh_trip_coor_rows[0],veh_trip_coor_rows[1])
                        dist=geopy.distance.geodesic(prev_veh_coor, trip_coor).m 

                        if dist < 80:
                            found_dist_new=1

            #if found_dist_new==0:
             #      vehiclepositions.drop(index, axis=0) 
            ##########################################################  
    print('data cleaning3')'''  
    vehiclepositions.to_sql('vehicle_positions',conn_alchemy,if_exists= 'append')
#######################################################################################################################

#######################################################################################################################
def updates(tripupdates):
    print('up')
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    df_updates=pd.DataFrame(columns=['trip_id','start_date','route_id','direction_id','stop_sequence','departure_delay','departure_time','arrival_delay','arrival_time','stop_id',])

    departure_delay=0
    departure_time=0
    arrival_delay=0
    arrival_time=0
    dictionary_data=0
    stop_sequence=-1
    stop_id=-1
    cnt=0
    
    for o ,l in tripupdates.iterrows():
        for  dictionary in l['trip_update.stop_time_update']:#.items():
                for kk in dictionary:
                
                    if kk=='stop_sequence':
                        cnt+=1
                        
                    if cnt==2:
                        data=[l['trip_update.trip.trip_id'],l['trip_update.trip.start_date'],l['trip_update.trip.route_id'],l['trip_update.trip.direction_id'],stop_sequence,departure_delay,departure_time,arrival_delay,arrival_time,stop_id]
                        df_updates.loc[len(df_updates)]=data
                        #print(data)
                        cnt=1
                        
                    if kk=='departure' or kk=='arrival' or kk=='stop_sequence' or kk=='stop_id':
                        if kk=='departure':
                            departure_delay=dictionary['departure']['delay']
                            departure_time=dictionary['departure']['time']

                        if kk=='arrival':
                            arrival_delay=dictionary['arrival']['delay']
                            arrival_time=dictionary['arrival']['time']                        

                        if kk=='stop_sequence':
                            stop_sequence=dictionary[kk] 

                        if kk=='stop_id':
                            stop_id=dictionary[kk]

    df_updates.to_sql('trip_updates',conn_alchemy,if_exists= 'append')  
#######################################################################################################################

#######################################################################################################################
def alert(alerts):
    print('alert')
    #reconstruct the dataframe so that 
    #the data which are dictionary in columns(alert.informed_entity,alert.header_text.translation,alert.description_text.translation)
    #are in separate columns 
    lst=[]
    cnt=1
    for i,k in alerts.iterrows():
          
        #if cnt==1:
            df=pd.DataFrame(columns=['id','cause','effect','severity_level'])

            df.loc[i]=[k['id'],k['alert.cause'],k['alert.effect'],k['alert.severity_level']]
            df2=pd.DataFrame.from_dict(k['alert.informed_entity'])
            df2=df2.reset_index(drop=True) 

            df3=pd.DataFrame.from_dict(k['alert.header_text.translation'])
            df4=pd.DataFrame.from_dict(k['alert.description_text.translation'])

            for num in range(len(df2)-1):
                df=df.append(df)
                df3=df3.append(df3)
                df4=df4.append(df4)
            #cnt+=1

            df=df.reset_index()
            df2=df2.reset_index()
            df3=df3.reset_index()
            df4=df4.reset_index()
            df4.rename(columns={'text':'description_text'},inplace = True)
            new_df=pd.concat([df,df2,df3,df4],axis=1)
            new_df['feed_version']=FeedVersion
            new_df['feed_id']=feed_id
            new_df.to_sql('alerts',conn_alchemy,if_exists= 'append')
            
#######################################################################################################################

while True:
    cursor.execute('''select  nextval('feed_id_seq')''')
    feed_id = cursor.fetchone()[0]  

    cursor.execute('select feed_info.feed_version from feed_info order by feed_info.feed_info_index desc limit 1')
    FeedVersion = cursor.fetchone()[0]


    Positions = 'https://svc.metrotransit.org/mtgtfs/vehiclepositions.pb'
    TripUpdates = 'https://svc.metrotransit.org/mtgtfs/tripupdates.pb'
   # ServiceAlerts = 'https://svc.metrotransit.org/mtgtfs/alerts.pb'

    feed = gtfs_realtime_pb2.FeedMessage()

    response_positions=requests.get(Positions)
    feed.ParseFromString(response_positions.content)
    buses_dict = protobuf_to_dict(feed)
    vehiclepositions=pd.json_normalize(buses_dict['entity'])
    vehiclepositions.rename(columns={"vehicle.position.latitude": "lat","vehicle.position.longitude": "lon","vehicle.vehicle.id": "vid","vehicle.trip.route_id":"vehicle_trip_route_id","vehicle.trip.trip_id":"vehicle_trip_trip_id","vehicle.trip.start_date":"vehicle_trip_start_date","vehicle.position.speed":"vehicle_position_speed","vehicle.timestamp":"vehicle_timestamp","vehicle.vehicle.label":"vehicle_vehicle_label","vehicle.position.bearing":"vehicle_positions_bearing"}, inplace=True)
    positions(vehiclepositions)
    display(vehiclepositions)

    #response_tripupdates=requests.get(TripUpdates)
    #feed.ParseFromString(response_tripupdates.content)
    #buses_dict = protobuf_to_dict(feed)
    #tripupdates=pd.json_normalize(buses_dict['entity'])
    #updates(tripupdates)

   #response_servicealerts=requests.get(ServiceAlerts)
   #feed.ParseFromString(response_servicealerts.content)
   # buses_dict = protobuf_to_dict(feed)
   # alerts=pd.json_normalize(buses_dict['entity'])
   # alert(alerts)
    
    time.sleep(16)

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055274_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.970242,-93.273857,45.0,8.0,1.698055e+09,4067,1538,1697641400,2643
1,1698055274_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.064011,-93.247757,180.0,NaN,1.698055e+09,3947,1428,1697641400,2643
2,1698055274_4047,24251608-AUG23-MVS-BUS-Weekday-01,20231023,10,0,45.126980,-93.265053,90.0,NaN,1.698055e+09,4047,1518,1697641400,2643
3,1698055274_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973492,-93.273010,90.0,NaN,1.698055e+09,3876,1306,1697641400,2643
4,1698055274_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970242,-93.273857,45.0,8.0,1.698055e+09,4067,1538,1697641400,2643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,1698055274_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2643
167,1698055274_2378,24249453-AUG23-MVS-BUS-Weekday-01,20231023,924,1,44.853828,-93.238808,315.0,NaN,1.698055e+09,2378,8125,1697641400,2643
168,1698055274_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.947922,-93.085007,225.0,6.0,1.698055e+09,3859,1289,1697641400,2643
169,1698055274_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2643
170,1698055274_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.981560,-93.276138,135.0,NaN,1.698055e+09,2289,1816,1697641400,2643

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055300_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.970650,-93.272911,135.0,6.0,1.698055e+09,4067,1538,1697641400,2644
1,1698055300_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.063549,-93.247757,180.0,2.0,1.698055e+09,3947,1428,1697641400,2644
2,1698055300_4047,24251608-AUG23-MVS-BUS-Weekday-01,20231023,10,0,45.126980,-93.265053,90.0,NaN,1.698055e+09,4047,1518,1697641400,2644
3,1698055300_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973492,-93.273010,90.0,NaN,1.698055e+09,3876,1306,1697641400,2644
4,1698055300_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970650,-93.272911,135.0,6.0,1.698055e+09,4067,1538,1697641400,2644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1698055300_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2644
170,1698055300_2378,24249453-AUG23-MVS-BUS-Weekday-01,20231023,924,1,44.853828,-93.238808,315.0,NaN,1.698055e+09,2378,8125,1697641400,2644
171,1698055300_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.947338,-93.086884,NaN,4.0,1.698055e+09,3859,1289,1697641400,2644
172,1698055300_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2644
173,1698055300_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.981560,-93.276138,135.0,NaN,1.698055e+09,2289,1816,1697641400,2644

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055340_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.970440,-93.272034,45.0,2.0,1.698055e+09,4067,1538,1697641400,2645
1,1698055340_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.061539,-93.247742,180.0,6.0,1.698055e+09,3947,1428,1697641400,2645
2,1698055340_4047,24251608-AUG23-MVS-BUS-Weekday-01,20231023,10,0,45.126980,-93.265053,90.0,NaN,1.698055e+09,4047,1518,1697641400,2645
3,1698055340_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973209,-93.272659,135.0,2.0,1.698055e+09,3876,1306,1697641400,2645
4,1698055340_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970440,-93.272034,45.0,2.0,1.698055e+09,4067,1538,1697641400,2645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,1698055340_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2645
172,1698055340_2378,24249453-AUG23-MVS-BUS-Weekday-01,20231023,924,1,44.853729,-93.237900,225.0,NaN,1.698055e+09,2378,8125,1697641400,2645
173,1698055340_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.947819,-93.087242,315.0,NaN,1.698055e+09,3859,1289,1697641400,2645
174,1698055340_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2645
175,1698055340_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.981560,-93.276138,135.0,NaN,1.698055e+09,2289,1816,1697641400,2645

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055406_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.971958,-93.271881,45.0,1.698055e+09,4067,1538,NaN,1697641400,2646
1,1698055406_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.057461,-93.247711,180.0,1.698055e+09,3947,1428,8.0,1697641400,2646
2,1698055406_4047,24251608-AUG23-MVS-BUS-Weekday-01,20231023,10,0,45.126980,-93.265053,90.0,1.698055e+09,4047,1518,NaN,1697641400,2646
3,1698055406_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971210,-93.272133,270.0,1.698055e+09,3876,1306,2.0,1697641400,2646
4,1698055406_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971958,-93.271881,45.0,1.698055e+09,4067,1538,NaN,1697641400,2646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1698055406_2378,24249453-AUG23-MVS-BUS-Weekday-01,20231023,924,1,44.854370,-93.237541,NaN,1.698055e+09,2378,8125,11.0,1697641400,2646
174,1698055406_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.948929,-93.090118,225.0,1.698055e+09,3859,1289,NaN,1697641400,2646
175,1698055406_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2646
176,1698055406_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.981350,-93.275909,135.0,1.698055e+09,2289,1816,NaN,1697641400,2646
177,1698055406_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2646

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055433_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.972359,-93.272163,135.0,1.698055e+09,4067,1538,NaN,1697641400,2647
1,1698055433_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.056660,-93.247726,180.0,1.698055e+09,3947,1428,4.0,1697641400,2647
2,1698055433_4047,24251608-AUG23-MVS-BUS-Weekday-01,20231023,10,0,45.126492,-93.264992,135.0,1.698055e+09,4047,1518,6.0,1697641400,2647
3,1698055433_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971512,-93.270554,225.0,1.698055e+09,3876,1306,6.0,1697641400,2647
4,1698055433_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.972359,-93.272163,135.0,1.698055e+09,4067,1538,NaN,1697641400,2647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,1698055433_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2647
177,1698055433_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.948929,-93.090118,225.0,1.698055e+09,3859,1289,NaN,1697641400,2647
178,1698055433_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2647
179,1698055433_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.981178,-93.275513,90.0,1.698055e+09,2289,1816,4.0,1697641400,2647
180,1698055433_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2647

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055480_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.971378,-93.272476,315.0,1.698055e+09,4067,1538,NaN,1697641400,2648
1,1698055480_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.051701,-93.247726,180.0,1.698055e+09,3947,1428,NaN,1697641400,2648
2,1698055480_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971710,-93.272507,315.0,1.698055e+09,3876,1306,NaN,1697641400,2648
3,1698055480_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971378,-93.272476,315.0,1.698055e+09,4067,1538,NaN,1697641400,2648
4,1698055480_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,3947,NaN,NaN,1697641400,2648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,1698055480_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2648
178,1698055480_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.948681,-93.090698,225.0,1.698055e+09,3859,1289,4.0,1697641400,2648
179,1698055480_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2648
180,1698055480_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.979660,-93.275002,135.0,1.698055e+09,2289,1816,NaN,1697641400,2648
181,1698055480_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2648

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055540_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.972240,-93.273911,315.0,1.698056e+09,4067,1538,NaN,1697641400,2649
1,1698055540_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.049011,-93.247513,180.0,1.698056e+09,3947,1428,8.0,1697641400,2649
2,1698055540_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970901,-93.273109,180.0,1.698056e+09,3876,1306,NaN,1697641400,2649
3,1698055540_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.972240,-93.273911,315.0,1.698056e+09,4067,1538,NaN,1697641400,2649
4,1698055540_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,3947,NaN,NaN,1697641400,2649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,1698055540_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2649
180,1698055540_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.948460,-93.091118,225.0,1.698056e+09,3859,1289,NaN,1697641400,2649
181,1698055540_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2649
182,1698055540_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.978142,-93.272087,90.0,1.698056e+09,2289,1816,2.0,1697641400,2649
183,1698055540_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2649

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055588_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.970112,-93.271843,45.0,1.698056e+09,4067,1538,NaN,1697641400,2650
1,1698055588_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.046902,-93.247498,180.0,1.698056e+09,3947,1428,11.0,1697641400,2650
2,1698055588_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.969810,-93.275932,270.0,1.698056e+09,3876,1306,2.0,1697641400,2650
3,1698055588_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970112,-93.271843,45.0,1.698056e+09,4067,1538,NaN,1697641400,2650
4,1698055588_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,3947,NaN,NaN,1697641400,2650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,1698055588_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2650
185,1698055588_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.947750,-93.092407,225.0,1.698056e+09,3859,1289,4.0,1697641400,2650
186,1698055588_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2650
187,1698055588_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.978199,-93.271843,90.0,1.698056e+09,2289,1816,NaN,1697641400,2650
188,1698055588_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2650

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055634_4067,24251604-AUG23-MVS-BUS-Weekday-01,20231023,10,1,44.969749,-93.273178,45.0,1.698056e+09,4067,1538,NaN,1697641400,2651
1,1698055634_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.042919,-93.247459,180.0,1.698056e+09,3947,1428,2.0,1697641400,2651
2,1698055634_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.969799,-93.275993,270.0,1.698056e+09,3876,1306,NaN,1697641400,2651
3,1698055634_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.969749,-93.273178,45.0,1.698056e+09,4067,1538,NaN,1697641400,2651
4,1698055634_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,3947,NaN,NaN,1697641400,2651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,1698055634_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2651
187,1698055634_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.947090,-93.093758,225.0,1.698056e+09,3859,1289,NaN,1697641400,2651
188,1698055634_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2651
189,1698055634_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.977428,-93.270081,135.0,1.698056e+09,2289,1816,6.0,1697641400,2651
190,1698055634_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2651

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055692_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.036869,-93.247391,180.0,11.0,1.698056e+09,3947,1428,1697641400,2652
1,1698055692_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.970829,-93.277290,45.0,NaN,1.698056e+09,3876,1306,1697641400,2652
2,1698055692_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.972370,-93.279282,45.0,NaN,1.698056e+09,4067,1538,1697641400,2652
3,1698055692_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2652
4,1698055692_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.106739,-93.263962,180.0,NaN,1.698056e+09,4047,1518,1697641400,2652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1698055692_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2652
188,1698055692_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.946251,-93.095757,225.0,NaN,1.698056e+09,3859,1289,1697641400,2652
189,1698055692_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2652
190,1698055692_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.976528,-93.267372,135.0,NaN,1.698056e+09,2289,1816,1697641400,2652
191,1698055692_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2652

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055738_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.034019,-93.247398,180.0,11.0,1.698056e+09,3947,1428,1697641400,2653
1,1698055738_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.971859,-93.276489,45.0,NaN,1.698056e+09,3876,1306,1697641400,2653
2,1698055738_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.972691,-93.274986,45.0,NaN,1.698056e+09,4067,1538,1697641400,2653
3,1698055738_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2653
4,1698055738_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.102901,-93.263878,180.0,20.0,1.698056e+09,4047,1518,1697641400,2653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1698055738_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2653
196,1698055738_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.946178,-93.098160,270.0,8.0,1.698056e+09,3859,1289,1697641400,2653
197,1698055738_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2653
198,1698055738_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.974789,-93.263840,135.0,6.0,1.698056e+09,2289,1816,1697641400,2653
199,1698055738_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2653

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055766_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.030510,-93.247421,180.0,15.0,1.698056e+09,3947,1428,1697641400,2654
1,1698055766_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.972340,-93.276070,45.0,4.0,1.698056e+09,3876,1306,1697641400,2654
2,1698055766_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.966301,-93.271660,270.0,NaN,1.698056e+09,4067,1538,1697641400,2654
3,1698055766_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2654
4,1698055766_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.097939,-93.263771,180.0,17.0,1.698056e+09,4047,1518,1697641400,2654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1698055766_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2654
197,1698055766_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.946529,-93.101662,270.0,6.0,1.698056e+09,3859,1289,1697641400,2654
198,1698055766_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2654
199,1698055766_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.974072,-93.262589,135.0,8.0,1.698056e+09,2289,1816,1697641400,2654
200,1698055766_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2654

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055815_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.026779,-93.247437,180.0,8.0,1.698056e+09,3947,1428,1697641400,2655
1,1698055815_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973709,-93.274811,45.0,2.0,1.698056e+09,3876,1306,1697641400,2655
2,1698055815_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973389,-93.272430,315.0,NaN,1.698056e+09,4067,1538,1697641400,2655
3,1698055815_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2655
4,1698055815_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.093330,-93.263641,180.0,2.0,1.698056e+09,4047,1518,1697641400,2655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1698055815_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2655
197,1698055815_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.948799,-93.105942,315.0,15.0,1.698056e+09,3859,1289,1697641400,2655
198,1698055815_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2655
199,1698055815_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.972542,-93.258972,135.0,8.0,1.698056e+09,2289,1816,1697641400,2655
200,1698055815_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2655

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055852_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.022362,-93.247437,180.0,15.0,1.698056e+09,3947,1428,1697641400,2656
1,1698055852_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.974319,-93.274323,45.0,2.0,1.698056e+09,3876,1306,1697641400,2656
2,1698055852_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973309,-93.272850,45.0,NaN,1.698056e+09,4067,1538,1697641400,2656
3,1698055852_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2656
4,1698055852_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.091560,-93.263603,180.0,15.0,1.698056e+09,4047,1518,1697641400,2656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1698055852_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2656
203,1698055852_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.951118,-93.109978,270.0,17.0,1.698056e+09,3859,1289,1697641400,2656
204,1698055852_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2656
205,1698055852_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.971802,-93.256790,90.0,4.0,1.698056e+09,2289,1816,1697641400,2656
206,1698055852_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2656

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055901_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.015049,-93.247414,180.0,8.0,1.698056e+09,3947,1428,1697641400,2657
1,1698055901_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.975922,-93.272858,45.0,2.0,1.698056e+09,3876,1306,1697641400,2657
2,1698055901_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973309,-93.272850,45.0,NaN,1.698056e+09,4067,1538,1697641400,2657
3,1698055901_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2657
4,1698055901_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.085640,-93.263687,180.0,4.0,1.698056e+09,4047,1518,1697641400,2657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,1698055901_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2657
212,1698055901_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.951859,-93.130669,270.0,26.0,1.698056e+09,3859,1289,1697641400,2657
213,1698055901_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2657
214,1698055901_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.970760,-93.254700,135.0,11.0,1.698056e+09,2289,1816,1697641400,2657
215,1698055901_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2657

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_timestamp,vid,vehicle_vehicle_label,vehicle_position_speed,feed_version,feed_id
0,1698055931_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.013271,-93.247459,180.0,1.698056e+09,3947,1428,NaN,1697641400,2658
1,1698055931_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.976360,-93.271683,90.0,1.698056e+09,3876,1306,NaN,1697641400,2658
2,1698055931_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973309,-93.272850,45.0,1.698056e+09,4067,1538,NaN,1697641400,2658
3,1698055931_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,3947,NaN,NaN,1697641400,2658
4,1698055931_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.081100,-93.263634,180.0,1.698056e+09,4047,1518,20.0,1697641400,2658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,1698055931_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,2329,NaN,NaN,1697641400,2658
216,1698055931_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.951881,-93.139252,270.0,1.698056e+09,3859,1289,26.0,1697641400,2658
217,1698055931_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,2289,NaN,NaN,1697641400,2658
218,1698055931_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.967602,-93.252136,180.0,1.698056e+09,2289,1816,13.0,1697641400,2658
219,1698055931_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,3859,NaN,NaN,1697641400,2658

pos
data cleaning
data cleaning2

,id,vehicle_trip_trip_id,vehicle_trip_start_date,vehicle_trip_route_id,vehicle.trip.direction_id,lat,lon,vehicle_positions_bearing,vehicle_position_speed,vehicle_timestamp,vid,vehicle_vehicle_label,feed_version,feed_id
0,1698055969_3947,24251605-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.012691,-93.247421,180.0,8.0,1.698056e+09,3947,1428,1697641400,2659
1,1698055969_3876,24251609-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.976391,-93.271690,NaN,NaN,1.698056e+09,3876,1306,1697641400,2659
2,1698055969_4067,24251610-AUG23-MVS-BUS-Weekday-01,20231023,10,0,44.973309,-93.272850,45.0,NaN,1.698056e+09,4067,1538,1697641400,2659
3,1698055969_3947,24251611-AUG23-MVS-BUS-Weekday-01,20231023,10,0,0.000000,0.000000,NaN,NaN,NaN,3947,NaN,1697641400,2659
4,1698055969_4047,24251680-AUG23-MVS-BUS-Weekday-01,20231023,10,1,45.075741,-93.263603,180.0,20.0,1.698056e+09,4047,1518,1697641400,2659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,1698055969_2329,24249367-AUG23-MVS-BUS-Weekday-01,20231023,924,1,0.000000,0.000000,NaN,NaN,NaN,2329,NaN,1697641400,2659
221,1698055969_3859,24220394-AUG23-MVS-BUS-Weekday-01,20231023,94,1,44.951870,-93.150620,270.0,26.0,1.698056e+09,3859,1289,1697641400,2659
222,1698055969_2289,24220397-AUG23-MVS-BUS-Weekday-01,20231023,94,1,0.000000,0.000000,NaN,NaN,NaN,2289,NaN,1697641400,2659
223,1698055969_2289,24220399-AUG23-MVS-BUS-Weekday-01,20231023,94,0,44.965889,-93.249527,90.0,13.0,1.698056e+09,2289,1816,1697641400,2659
224,1698055969_3859,24220438-AUG23-MVS-BUS-Weekday-01,20231023,94,0,0.000000,0.000000,NaN,NaN,NaN,3859,NaN,1697641400,2659

pos
data cleaning

KeyboardInterrupt: